.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  stroke: #ccc;
  stroke-width: 1.5px;
}

.ui-slider {
  font-size: 10px;
  width: 300px;
  margin-top: 5px;
}

.ui-state-focus {
  outline: none;
}

#level {
  width: 300px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
